.about {
  position: relative;
  background-color: var(--bkg-primary-color);
  padding: 5rem 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
    z-index: 2;
}

.row-2 {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;

  .aboutme-image {
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 15rem;
    border-radius: 1rem;
    align-self: center;
  }

  .text-block {
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    & h4 {
      font-size: var(--fs-sm);
      color: var(--blue-color);
    }

    & h2 {
      font-size: var(--fs-md);
    }

    & p {
      font-size: var(--fs-sm);
      color: var(--secondary-color);
    }
  }
}

@media screen and (max-width: 48em) {
  .row-2 {
    align-items: center;
    flex-direction: column;
  }
}
