.contact {
  padding: 5rem 2rem;
  background-color: var(--bkg-primary-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

  .row-4 {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2.5rem;

    .contact-title {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      & h4 {
        font-size: var(--fs-sm);
        color: var(--blue-color);
      }

      & h2 {
        font-size: var(--fs-md);
      }
    }

    .contact-details {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .location,
      .mail {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        & p {
          font-size: var(--fs-sm);
          color: var(--secondary-color)
        }

        & i {
          color: var(--blue-color);
          font-size: 1.5rem;
          background-color: var(--bkg-primary-color);
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          padding: 1rem;
          border-radius: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .contact {

    .row-4 {
      padding: unset;
      .contact-title {
        align-items: center;
      }

      .contact-details {
        flex-direction: column;
      }
    }
  }
}
