.footer {
    background-color: var(--bkg-footer-color);
    color: var(--white-color);
    padding: 2rem;

    .row-5 {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        flex-direction: row;

        & h4 {
            font-size: var(--fs-sm);
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            & i {
                font-size: 1.5rem;
            }
        }
    }
}




@media screen and (max-width: 48em) {
    .footer {

        .row-5 {
            align-items: center;
            flex-direction: column-reverse;
            gap: 1rem;
            padding: unset;
        }
    }
}