.project {
  background-color: var(--bkg-secondary-color);
  padding: 5rem 2rem;
}

.row-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

// project title
.project-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & h4 {
    color: var(--blue-color);
    font-size: var(--fs-sm);
  }

  & h2 {
    font-size: var(--fs-md);
  }
}

.project-cards {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: row;
    background-color: var(--bkg-primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    padding: 1rem;


    .project-img {
      width: 30rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 1rem;
    }

    .project-info {
      width: 100%;
      max-width: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      padding: 1rem 2rem;
      gap: 1.25rem;
      & h4 {
        font-size: var(--fs-sub-header);
      }

      & p {
        font-size: var(--fs-sm);
        color: var(--secondary-color);
      }

      .project-skills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.6rem;

        & span {
          font-size: var(--fs-sm);
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          font-weight: 600;
          padding: 0.2rem;
          border-radius: 0.2rem;
        }
      }

      .project-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;

        & button {
          cursor: pointer;
          font-size: var(--fs-sub-header);
          background-color: var(--bkg-primary-color);
          border: none;
          & i {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .project-cards {
    .card {
      width: 100%;
      max-width: 30rem;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      .project-info {
        padding: 1rem;
      }
    }
  }
}
