.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--bkg-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 1.2rem 4rem;
  z-index: 100;
}

.nav-logo {
  font-size: var(--fs-logo);
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 1.1rem;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
  & li {
    transition: 0.3s ease-in-out;
  }

  & li:hover {
    color: var(--green-color);
  }
}

.hamburger {
  display: none;
}

@media screen and (max-width: 48em) {
  .navbar {
    padding: .8rem 1.5rem;
  }
  
  .nav-links {
    display: none;
  }


  .hamburger {
    display: block;
    font-size: 25px;
    transition: .5s ease-in-out;
  }

  .hamburger:hover {
    color: var(--green-color);
    transform: rotate(360deg);
    
  }
}
